Package: com.kunihir0.scmusicplus
Name: SCMusicPlus
Author: kunihir0
Description: Enhance your SoundCloud experience
Depiction: https://rov3r.github.io/depictions/scmusicplus.html
Depends: mobilesubstrate (>= 0.9.5000)
Maintainer: kunihir0 <kunihiro@tutanota.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 25.0.0
